/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.landing-page {
  background-image: url('./images/landing-background.jpg'); /* استخدمي صورة خلفية مناسبة */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page .content {
  text-align: center;
  color: white;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
